fastapi==0.116.0
gradio==5.35.0
httpx==0.28.1
langchain_community==0.4.2
langchain_core==1.4.8
langchain_deepseek==1.1.0
langchain_google_genai==4.2.6
langchain_groq==1.1.3
langchain_openai==1.3.3
langchain_postgres==0.0.17
langchain_text_splitters==1.1.2
langgraph-checkpoint-redis==0.5.0
langchain-redis
langgraph-checkpoint-postgres
langgraph==1.2.7
locust
openai==2.44.0
pgvector==0.3.6
psycopg2-binary
psycopg_pool==3.3.1
pydantic==2.11.7
python-dotenv==1.2.2
slowapi==0.1.10
SQLAlchemy==2.0.37
tiktoken==0.11.0
uvicorn==0.49.0
